
<div class="logo">
     <img src="" alt="logo" width="60px" height="60px" id="headerImage">
</div>
<div class="title">
     <h1 id="headerTitleNew"></h1>
</div>
<script>
     $.ajax({
          url:'/getHome', 
          type: 'get',
          success: function(headerObj) {
               for(let header of headerObj.headers) {
                    document.getElementById('headerImage').src = `/user_images/${header.logoImageName}`;
                    document.getElementById('headerTitleNew').innerText = `${header.title}`;
               }
          }
     })
</script>