<div class="navbar">
     <ul id="list"></ul>
</div>

<script>
     $.ajax({
          url: '/getNav',
          type: 'get',
          success: function (headerObj) {
               for (let header of headerObj.navPages) {
                    document.getElementById('list').innerHTML += `<li><a href="/pages/${header.heading}">${header.heading}</a></li>`;
               }
          }
     });
</script>
