<div class="navbar">
     <ul>
          <li><a href="/editheader">Edit Header</a></li>
          <li><a href="/addpage">Add Page</a></li>
          <li><a href="/editpage">Edit Pages</a></li>          
          <li><a href="/logout">Logout</a></li>
     </ul>
</div>