<%- include('layouts/head'); %>

<body>
     <div class="body">
          <div class="header">
               <%- include('layouts/title'); %>
               <%- include('layouts/navbar'); %>
          </div>
          <div class="main">
               <div class="addPage">
                    <h1>ADD PAGE</h1>
                    <form action="" method="POST" enctype="multipart/form-data">
                         <div class="titleInput">
                              <div class="col-25">
                                   <label for="heading">Page Heading: </label>
                              </div>
                              <div class="col-75">
                                   <input type="text" name="heading" id="heading">
                              </div>
                         </div>
                         <div class="heroUpload">
                              <div class="col-25">
                                   <label for="heroImage">Hero Image: </label>
                              </div>
                              <div class="col-75">
                                   <input type="file" name="heroImage" id="heroImage">
                              </div>
                         </div>
                         <div class="wysiwyg">
                              <div class="textInput">
                                   <label for="textInput">Page Description: </label>
                              </div>
                              <textarea name="textInput" id="textInput"></textarea>
                         </div>
                         <div class="submit">
                              <input type="submit" value="Submit">
                         </div>
                    </form>
               </div>
          </div>
          <%- include('layouts/footer'); %>
     </div>
</body>

</html>