<%- include('layouts/head'); %>
<body>
     <div class="body">
          <div class="header">
               <%- include('layouts/title'); %>
               <%- include('layouts/navbar'); %>               
          </div>
          <div class="main">
               <div class="admin">
                    <h1>Welcome!</h1>
                    <h2>Hello Admin, welcome to the dashboard.</h2>
               </div>
          </div>
          <%- include('layouts/footer'); %>
     </div>
</body>
</html>