<%- include('layouts/head'); %>

<body>
     <div class="body">
          <div class="header">
               <%- include('layouts/title'); %>
               <%- include('layouts/navbar'); %>
          </div>
          <div class="main">
               <div class="editpage">
                    <h1>Edit Pages</h1>
                    <div class="edittable">
                         <table>
                              <%
                                   for(var page of pages) {
                              %>
                              <tr>
                                   <td><a href="/<%= page.heading %>"><%= page.heading %></a></td>
                                   <td><a href="/edit/<%= page._id %>">Edit Page</a></td>
                                   <td><a href="/delete/<%= page._id %>">Delete</a></td>
                              </tr>
                              <%
                                   }
                              %>
                         </table>
                    </div>
               </div>
          </div>
          <%- include('layouts/footer'); %>
     </div>
</body>

</html>