<%- include('layouts/head'); %>

<body>
     <div class="body">
          <div class="header">
               <%- include('layouts/title'); %>
               <%- include('layouts/navbar'); %>
          </div>
          <div class="main">
               <div class="addPage">
                    <h1>EDIT HEADER</h1>
                    <form action="" method="POST" enctype="multipart/form-data">
                         <div class="titleInput">
                              <div class="col-25">
                                   <label for="title">Tagline: </label>
                              </div>
                              <div class="col-75">
                                   <input type="text" name="title" id="title">
                              </div>
                         </div>
                         <div class="heroUpload">
                              <div class="col-25">
                                   <label for="logoImage">Logo Image: </label>
                              </div>
                              <div class="col-75">
                                   <input type="file" name="logoImage" id="logoImage">
                              </div>
                         </div>
                         
                         <div class="submit">
                              <input type="submit" value="Submit">
                         </div>
                    </form>
               </div>
          </div>
          <%- include('layouts/footer'); %>
     </div>
</body>

</html>