<%- include('layouts/head'); %>

<body>
     <div class="body">
          <div class="header">
               <%- include('layouts/title'); %>
               <%- include('layouts/navbar'); %>
          </div>
          <div class="main">
               <div class="login">
                    <form action="" method="POST" name="loginForm">
                         <div class="label">
                              <label for="">Username: </label>
                         </div>
                         <div class="input">
                              <input type="text" name="username" id="username">
                         </div>
                         <div class="label">
                              <label for="">Password: </label>
                         </div>
                         <div class="input">
                              <input type="password" name="password" id="password">
                         </div>
                         <div class="submit">
                              <input type="submit" value="Submit">
                         </div>
                         <p id="error">
                              <%
                                   if(typeof error != 'undefined') {
                              %>
                              <%= error %>
                              <%
                                   }
                              %>
                         </p>
                    </form>
                    
               </div>
          </div>
          <%- include('layouts/footer'); %>
     </div>
</body>

</html>