<%- include('layouts/head'); %>

<body>
     <div class="body">
          <div class="header">
               <%- include('layouts/title'); %>
               <%- include('layouts/navbar'); %>
          </div>
          <div class="main">
               <div class="admin">
                    <h1>Congratulations!</h1>
                    <h2>Page created successfully.</h2>
               </div>
          </div>
          <%- include('layouts/footer'); %>
     </div>
</body>

</html>