<%- include('layouts/head'); %>

<body>
     <div class="body">
          <div class="header">
               <%- include('layouts/hometitle'); %>
               <%- include('layouts/homenav'); %>
          </div>
          <div class="main">
               
               <div class="mainHeading">
                    <h1><%= pages.heading %></h1>
               </div>
               <div class="desc">
                    <%- pages.pageDesc %>
               </div>
               <div class="image">
                    <img src="/user_images/<%= pages.heroImageName %>" alt="">
               </div>
               
          </div>
          <div class="footer">
               <p>&copy; Copyright 2020. Stephen Francis</p>
          </div>
     </div>
</body>