
* {
     margin: 0;
     padding: 0;
}
.body {
     width: 70em;
     margin: 0 auto;
     font-family: 'Poppins', sans-serif;
}

/* * Header Section */
.header {
     box-sizing: border-box;
     height: 7em;
     padding: 2em;
}

/* * Logo */
.header .logo {
     float: left;
}

/* * Title */
.header .title h1{
     float: left;
     margin: 5px 0 0 20px;
     font-family: 'Poppins', sans-serif;
     font-weight: bold;
     font-size: 35px;
     cursor: pointer;
}

/* * Navigation Bar */
.header .navbar {
     float: right;
     margin: 20px 40px 0 0;
}
ul {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
}
li {
     float: left;
}
a {
     display: block;
     color: rgb(0, 0, 0);
     text-align: center;
     padding: 0 14px 0 5px;
     text-decoration: none;
     font-size: 15px;
     font-weight: 500;
}
li a:hover {
     color: rgb(155, 155, 155);
}

/* * Main Section */

/* ? Login Page */
.login {
     width: 600px;
     margin: 0 auto;
}
.login .label{
     width: 200px;
     float: left;
     margin: 10px 0;
     padding-left: 10px;
}
.login .input {
     width: 300px;
     float: left;
     margin: 10px 0;
}
.login .input input {
     height: 20px;
     width: 200px;
}
/* ? Admin Page*/
.main {
     display: inline-block;
     width: inherit;
     height: 35em;
}
.main .admin h1 {
     text-align: center;
     margin-top: 130px;
     cursor: default;
}
h2 {
     text-align: center;
     margin-top: 20px;
}

/* ? Add Page*/
.main .addPage {
     width: 50em;
     margin: 0px auto;
     padding-top: 10px;
}
.main .addPage h1 {
     text-align: center;
     margin: 0px 0px 20px;
     padding: 0px;
     cursor: default;
}
.col-25 {
     width: 20%;
     float: left;
}
.col-75 {
     width: 80%;
     float: left;
}
.addPage label {
     text-align: left;
}

.titleInput {
     margin: 10px;
}
.titleInput input {
     width: 600px;
     height: 25px;
     border: .5px solid rgb(187, 187, 187);
     margin-bottom: 10px;
     padding: 5px;
     font-size: 16px;
}
.titleInput input[type='text'] {
     text-transform: lowercase;
}
.heroUpload {
     margin: 10px;
}
input[type="file"] {
     font-family: 'Poppins', sans-serif;
     text-align: left;
     height: 25px;
     padding: 5px;
     margin-bottom: 10px;
     font-size: 16px;
     border: .5px solid rgb(187, 187, 187);
     width: 600px;
     cursor: pointer;
}
.addPage .wysiwyg .textInput {
     margin-left: 10px;
}
.tox {
     width: 48em;
     max-height: 300px;
     margin: 10px;
}
.submit {
     width: 200px;
     margin: 0 auto;
}
.submit input[type="submit"]{
     font-family: 'Poppins', sans-serif;
     padding: 2px;
     width: 150px;
     margin: 5px 20px;
     font-size: 20px;
     cursor: pointer;
}

/* ? Edit Pages */
.main .editpage h1 {
     margin: 20px 0px 20px;
     text-align: center;
}
.main .edittable table {
     margin: 20px auto;
     margin-top: 30px;
}
.main .edittable table tr {
     height: 30px;
}
.main .edittable table td {
     width: 150px;
     padding: 10px;
     text-transform: uppercase;
}
.main .edittable table td a {
     color: rgb(0, 0, 0);
}
.main .edittable table td a:hover{
     color: rgb(155, 155, 155);
}
/* ? Homepage */
.main .mainHeading {
     text-align: center;
     cursor: default;
     text-transform: uppercase;
}
.desc {
     width: 60%;
     float: left;
     height: 500px;
     margin-top: 20px;
}
.desc p {
     box-sizing: border-box;
     font-family: 'Poppins', sans-serif;
     margin: 25px;
     width: 600px;
     height: 450px;
     padding: 20px;
     font-size: 20px;
     text-align: justify;
}
.image {
     width: 40%;
     margin-top: 20px;
     float: right;
     height: 500px;
}
.image img {
     margin: 50px;
     width: 350px;
     height: 350px;
}
/* * Footer Section */
.footer {
     margin-top: 20px;
     clear: both;
}
p {
     font-size: 12px;
     text-align: center;
     cursor: default;
}